<%- include("../partials/header") %>

<a class="link" href="/meetings/<%- meeting._id %><% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Back</a>
<form class="form" action="/meetings/<%- meeting._id %>/checkin?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>" method="post">
  <div class="form__title">Record Attendance for Meeting on <%- ejs.reformatDate(meeting.date) %></div>
  <div class="form__item--row">
    <input id="checkinInput" class="form__input" type="text" name="id" placeholder="9-digit student ID" required/>
    <button class="form__button form__button--tall" type="submit">Check-In</button>
  </div>
</form>
<form class="form" action="/meetings/<%- meeting._id %>/checkin?_method=put&spreadsheet=true<% if (query.from) { %>&from=<%- query.from %><% } %>"
  method="post" enctype="multipart/form-data" onsubmit="return confirm('Are you sure you want to record attendance for all student IDs found in this spreadsheet?')">
  <div class="form__item">
    <label class="form__label form__label--pointer" for="attendance">Attendance Spreadsheet</label>
    <div>
      <input class="form__input--file" id="attendance" type="file" name="attendance" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .csv" hidden required/>
      <button class="form__input--filebutton" type="button" name="button">Choose an Excel file</button>
      <span class="form__input--filetext">No file chosen</span>
    </div>
  </div>
  <div class="form__item">
    <button class="form__button" type="submit">Submit Spreadsheet</button>
  </div>
</form>

<script type="text/javascript">
  window.onload = function() {
    var checkIn = document.getElementById("checkinInput");
    checkIn.focus();
    checkIn.select();
  };
</script>

<%- include("../partials/footer") %>
