<%- include("../partials/header") %>

<% if(currentUser && currentUser.accessLevel >= 1) { %>
  <a href="/meetings/new">Create Meeting</a>
<% } %>
<table class="table">
  <thead>
    <tr>
      <th>Meeting</th>
      <th>Date</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% i=1; meetings.forEach(function(meeting) { %>
      <tr data-href="http://localhost:3000/meetings/<%- meeting._id %>">
        <td><%- i %></td>
        <td><%- reformatDate(meeting.date) %></td>
        <td><%- meeting.description %></td>
      </tr>
    <% i++; }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>
