<%- include("../partials/header") %>

<a href="/meetings">Back</a>
<p>Meeting <%- meeting._id %></p>
<p>Date: <%- meeting.date %></p>
<p>Description: <%- meeting.description %></p>
<a href="/meetings/<%- meeting._id %>/checkin">Record Attendance</a>
<a href="/meetings/<%- meeting._id %>/edit">Edit</a>
<form class="" action="/meetings/<%- meeting._id %>?_method=delete" method="post" onsubmit="return confirm('Are you sure you want to delete this meeting?')">
  <input type="submit" value="Delete"/>
</form>
<p>Attendance: <%- meeting.membersAttended %></p>

<%- include("../partials/footer") %>
