<%- include("../partials/header") %>

<div class="form">
  <a class="form__link" href="<% if (query.from) { %><%- query.from %><% } else { %>/meetings<% } %>">Back</a>
  <div class="form__title">View Meeting</div>
  <% if (currentUser && currentUser.meetingsAttended) {
    if (currentUser.meetingsAttended.includes(meeting.date)) { %>
      <p class="form__description"><span class="green">You attended this meeting</span></p>
    <% } else if (new Date(meeting.date) > new Date(new Date().toLocaleString("en-US", {timeZone: "America/Los_Angeles"}))) { %>
      <p class="form__description"><span class="blue">This meeting is upcoming</span></p>
    <% } else { %>
      <p class="form__description"><span class="red">You did not attend this meeting</span></p>
    <% }
  } %>
  <div class="form__item">
    <label class="form__label" for="date">Date</label>
    <input class="form__input" value="<%- ejs.reformatDate(meeting.date) %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="description">Description</label>
    <input class="form__input" value="<%- meeting.description %>" readonly/>
  </div>
  <% if (currentUser && currentUser.accessLevel >= 1) { %>
    <div class="form__item">
      <label class="form__label" for="membersAttended">Attendance</label>
      <% if (meeting.membersAttended.length > 0) { %>
        <input class="form__input" value="<%- meeting.membersAttended.length %> members attended this meeting" readonly/>
      <% } else { %>
        <input class="form__input" value="No members have attended this meeting" readonly/>
      <% } %>
    </div>
    <div class="form__item form__item--row">
      <a class="form__button no-drag" href="/meetings/<%- meeting._id %>/edit<% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Edit</a>
      <a class="form__button no-drag" href="/meetings/<%- meeting._id %>/checkin<% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Record Attendance</a>
      <form action="/meetings/<%- meeting._id %>?_method=delete<% if (query.from) { %>&from=<%- query.from %><% } %>" method="post" onsubmit="return confirm('Are you sure you want to delete this meeting?')">
        <button class="form__button form__button--red" type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</div>

<%- include("../partials/footer") %>
