<%- include("../partials/header") %>

<p>Check Attendance</p>
<form class="" action="/members/attendance" method="get">
  <input type="text" name="id" value="" placeholder="School ID" required/>
  <input type="submit" value="Check"/>
</form>
<br>
<% if(member) { %>
  <p>Student ID: <%- member.id %></p>
  <p>Attendance: <%- member.meetingsAttended %></p>
<% } else if (currentUser && currentUser.meetingsAttended) { %>
  <p>Student ID: <%- currentUser.id %></p>
  <p>Attendance: <% currentUser.meetingsAttended.forEach(function(meeting) { %><%- reformatDate(meeting) %><% }); %></p>
<% } %>

<%- include("../partials/footer") %>
