<%- include("../partials/header") %>

<% if(currentUser.accessLevel >= 3) { %>
  <a href="/members/new">Add Member</a>
<% } %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student ID</th>
      <th>Grade</th>
      <th>Terms</th>
      <th>Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach(function(member) { %>
      <tr data-href="http://localhost:3000/members/<%- member._id %>">
        <td><%- member.name %></td>
        <td><%- member._id %></td>
        <td><%- member.grade %></td>
        <td><%- member.termCount %></td>
        <td><%- member.meetingsAttended %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>
