<%- include("../partials/header") %>

<div class="above-table">
  <div class="above-table__section search search__input-container" id="filterTable">
    <input class="search__input" type="text" spellcheck="false" placeholder="Filter members"/>
    <span class="material-icons search__icon">search</span>
  </div>
  <% if (currentUser.accessLevel >= 3) { %>
    <div class="above-table__section">
      <a class="above-table__button" href="/members/new"><span class="material-icons above-table__icon">person_add</span>New Member</a>
    </div>
  <% } %>
</div>
<table class="table">
  <thead>
    <tr class="table__head-row">
      <th class="table__cell">Name</th>
      <th class="table__cell">Student ID</th>
      <th class="table__cell table__cell--grade">Grade</th>
      <th class="table__cell table__cell--termCount">Terms</th>
      <th class="table__cell">Attendance</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach(function(member) { %>
      <tr class="table__body-row" data-href="/members/<%- member._id %>">
        <td class="table__cell"><%- member.name %></td>
        <td class="table__cell"><%- member.id %></td>
        <td class="table__cell table__cell--grade"><%- member.grade %></td>
        <td class="table__cell table__cell--termCount"><%- member.termCount %></td>
        <td class="table__cell table__cell--attendance"><%- member.meetingsAttended.length %> of <%- meetingsCount %> meetings</td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>
