<%- include("../partials/header") %>

<div class="form">
  <a class="form__link" href="<% if (query.from) { %><%- query.from %><% } else { %>/members<% } %>">Back</a>
  <div class="form__title">View Member</div>
  <div class="form__item">
    <label class="form__label" for="id">Student ID</label>
    <input class="form__input" value="<%- member.id %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="name">Name</label>
    <input class="form__input" value="<%- member.name %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="grade">Grade</label>
    <input class="form__input" value="<%- member.grade %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="termCount">Terms in CSF</label>
    <input class="form__input" value="<%- member.termCount %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="meetingsAttended">Attendance</label>
    <% if (meetings.length == 0) { %>
      <input class="form__input" value="No meetings currently exist" %>" readonly/>
    <% } else {
      meetings.forEach(function(meeting) {
        if (member.meetingsAttended.includes(meeting.date)) { %>
          <input class="form__input green" value="<%- ejs.reformatDate(meeting.date) + " - Attended" %>" readonly/>
        <% } else if (new Date(meeting.date + ", 12:00:00 AM") > new Date(new Date().toLocaleString("en-US", {timeZone: "America/Los_Angeles"}))) { %>
          <input class="form__input blue" value="<%- ejs.reformatDate(meeting.date) + " - Upcoming" %>" readonly/>
        <% } else { %>
          <input class="form__input red" value="<%- ejs.reformatDate(meeting.date) + " - Not attended" %>" readonly/>
        <% }
      });
    } %>
  </div>
  <% if (currentUser.accessLevel >= 3) { %>
    <div class="form__item">
      <label class="form__label" for="accessLevel">Position</label>
      <input class="form__input" value="<% if (member.accessLevel == 0) { %>Member
      <% } else if (member.accessLevel == 1) { %>Officer
      <% } else if (member.accessLevel == 2) { %>Tutoring Coordinator
      <% } else if (member.accessLevel == 3) { %>Developer<% } %>" readonly/>
    </div>
    <div class="form__item form__item--row">
      <a class="form__button" href="/members/<%- member._id %>/edit<% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Edit</a>
      <form action="/members/<%- member._id %>?_method=delete<% if (query.from) { %>&from=<%- query.from %><% } %>" method="post" onsubmit="return confirm('Are you sure you want to delete this member?')">
        <button class="form__button form__button--red" type="submit">Delete</button>
      </form>
    </div>
  <% } %>
</div>

<%- include("../partials/footer") %>
