<%- include("../partials/header") %>

<a href="/members">Back</a>
<p><%- member.name %></p>
<p>Student ID: <%- member._id %></p>
<p>Grade: <%- member.grade %></p>
<p>Terms in CSF: <%- member.termCount %></p>
<p>Attendance: <%- member.meetingsAttended %></p>
<% if(currentUser.accessLevel >= 3) { %>
  <a href="/members/<%- member._id %>/edit">Edit</a>
  <form class="" action="/members/<%- member._id %>?_method=delete" method="post" onsubmit="return confirm('Are you sure you want to remove this member?')">
    <input type="submit" value="Remove"/>
  </form>
<% } %>

<%- include("../partials/footer") %>
