<%- include("../partials/header") %>

<div class="tabs">
  <div class="tabs__sidebar">
    <a class="tabs__link tabs__link--active" href="/settings/permissions">Permissions</a>
    <a class="tabs__link" href="/settings/term-migration">Term Migration</a>
    <a class="tabs__link" href="/settings/backups">Backups</a>
    <a class="tabs__link" href="/settings/diagnostics">Diagnostics</a>
  </div>
  <div class="tabs__content">
    <div class="above-table">
      <div class="table__filter search search__input-container">
        <input class="search__input" type="text" spellcheck="false" placeholder="Filter officers"/>
        <span class="material-icons search__icon">search</span>
      </div>
      <div class="above-table__section">
        <a class="above-table__button popup__button-activate no-drag" href="#"><span class="material-icons above-table__icon">add</span>Grant Permissions</a>
        <div class="popup popup--2">
          <form class="popup__form" action="/settings/permissions?_method=put" method="post"
          onsubmit="return confirm('Are you sure you want to grant this member permissions?')">
            <input class="form__input form__input--small3" type="text" name="id" pattern="[0-9]{9}" minlength="9" maxlength="9" placeholder="Student ID"/>
            <select class="form__input--select form__input--select-small" name="accessLevel" required>
              <option value="1">Officer</option>
              <option value="2">Tutoring Coordinator</option>
              <option value="3">Developer</option>
            </select>
            <button class="form__button form__button--small popup__position-1" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <div class="table__wrapper">
      <table class="table">
        <thead>
          <tr class="table__head-row">
            <th class="table__cell">Name</th>
            <th class="table__cell">Student ID</th>
            <th class="table__cell">Position</th>
          </tr>
        </thead>
        <tbody>
          <% members.forEach(function(member) { %>
            <tr class="table__body-row" data-href="/members/<%- member._id %>?from=%2Fsettings%2Fpermissions">
              <td class="table__cell"><%- member.name %></td>
              <td class="table__cell"><%- member.id %></td>
              <td class="table__cell">
                <% if (member.accessLevel == 0) { %>Member
                <% } else if (member.accessLevel == 1) { %>Officer
                <% } else if (member.accessLevel == 2) { %>Tutoring Coordinator
                <% } else if (member.accessLevel == 3) { %>Developer<% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%- include("../partials/footer") %>
