<%- include("../partials/header") %>

<a href="/settings">Back</a>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Student ID</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach(function(member) { %>
      <tr data-href="/members/<%- member._id %>?from=%2Fsettings%2Fpermissions">
        <td><%- member.name %></td>
        <td><%- member.id %></td>
        <td><% if(member.accessLevel == 0) { %> Member <% } else if(member.accessLevel == 1) { %> Officer <% } else if(member.accessLevel == 2) { %> Tutoring Coordinator <% } else if(member.accessLevel == 3) { %> Developer <% } %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

<%- include("../partials/footer") %>
