<%- include("../partials/header") %>

<div class="form">
  <% if (query.from) { %><a class="form__link" href="<%- query.from %>">Back</a><% } %>
  <div class="form__title">View Tutor Profile</div>
  <% if (currentUser.accessLevel <= 1) { %>
    <p class="form__description">If you wish to deactivate your tutor account, contact the tutoring coordinator.</p>
  <% } if (!tutor.active) { %>
    <p class="form__description">
      <span class="material-icons form__icon red">error</span>
      <span class="red">Your tutor account is deactivated and will not be paired with tutees.</span>
    </p>
  <% } else if (currentUser.id == tutor.id) { %>
    <p class="form__description">
      <% if (tutor.verified && tutor.verifiedPhone) { %>
        <span class="material-icons form__icon green">done</span>
        <span class="green">You are verified and will be paired with tutees if found a match.</span>
      <% } else { %>
        <span class="material-icons form__icon orange">warning</span>
        <span class="orange">You will not be paired with tutees until you are verified. To be verified, you must
          <% if (!tutor.verified && !tutor.verifiedPhone) { %>
            attend one of the training sessions, turn in the tutoring permission form, and click the verification link sent to your phone.
          <% } else if (!tutor.verified) { %>
            attend one of the training sessions and turn in the tutoring permission form. If you have done this, allow some time for CSF to verify you.
          <% } else if (!tutor.verifiedPhone) { %>
            click the verification link sent to your phone.
          <% } %>
        </span>
      <% } %>
    </p>
  <% } %>
  <div class="form__item">
    <label class="form__label" for="id">Student ID</label>
    <input class="form__input" value="<%- tutor.id %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="name">Name</label>
    <input class="form__input" value="<%- tutor.name %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="grade">Grade</label>
    <input class="form__input" value="<%- tutor.grade %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="gender">Gender</label>
    <input class="form__input" value="<%- tutor.gender %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="email">Email</label>
    <input class="form__input" value="<%- tutor.email %>" readonly/>
    <span class="form__input-footnote">Only used to contact you as a last resort</span>
  </div>
  <div class="form__item">
    <label class="form__label" for="phoneNum">Phone Number</label>
    <input class="form__input" value="<%- tutor.phoneNum %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="maxTutees">Maximum Tutees</label>
    <input class="form__input" value="<%- tutor.maxTutees %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="paymentForm">Form of Payment</label>
    <input class="form__input" value="<%- tutor.paymentForm %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="tuteeSessions">Current Tutees</label>
    <% if (tutor.tuteeSessions.length == 0) { %>
      <input class="form__input" type="text" value="Not yet paired with tutees" readonly/>
    <% } else {
      tutor.tuteeSessions.forEach(function(tuteeSession) { %>
      <div class="card">
        <div class="card__title">
          <span class="card__icon material-icons">account_circle</span>
          <% if (currentUser.accessLevel >= 2) { %>
            <a class="link--black" href="/tutees/<%- tuteeSession.tuteeID._id %>?from=%2Ftutors%2F<%- tutor._id %>">Tutee <%- tuteeSession.tuteeID.name %></a>
          <% } else { %>
            Tutee <%- tuteeSession.tuteeID.name %>
          <% } %>
          <span class="card__icon card__icon--link card__icon--right no-select material-icons">more_horiz</span>
          <div class="card__dropdown">
            <% if (currentUser.accessLevel >= 2 && tuteeSession.status == "Pending") { %>
              <form action="/tutors/<%- tutor._id %>/notify/<%- tuteeSession.tuteeID._id %>?_method=put" method="post"
                onsubmit="return confirm('Are you sure you want to notify the tutor about this pairing?')">
                <button class="card__dropdown-button" type="submit">Notify Tutor</button>
              </form>
            <% } if (currentUser.id == tutor.id && tuteeSession.status == "Pending") { %>
              <form action="/tutors/<%- tutor._id %>/accept-pairing/<%- tuteeSession.tuteeID._id %>?from=%2Ftutors%2F<%- tutor._id %>" method="get">
                <button class="card__dropdown-button" type="submit">Accept Pairing</button>
              </form>
            <% } if (currentUser.id == tutor.id && tuteeSession.status != "Inactive") { %>
              <button class="card__dropdown-button card__dropdown-button--viewinfo" type="button">View Info</button>
            <% } if (currentUser.accessLevel >= 2 && tuteeSession.status != "Inactive") { %>
              <form action="/tutors/<%- tutor._id %>/unpair/<%- tuteeSession.tuteeID._id %>?_method=put" method="post"
                onsubmit="return confirm('Are you sure you want to unpair this tutor? If the request is pending, this is not recommended.')">
                <button class="card__dropdown-button" type="submit">Unpair</button>
              </form>
            <% } if (currentUser.accessLevel >= 2 && tuteeSession.status == "Inactive") { %>
              <form action="/tutors/<%- tutor._id %>/re-pair/<%- tuteeSession.tuteeID._id %>?_method=put" method="post"
                onsubmit="return confirm('Are you sure you want to re-pair this tutor and tutee? This will make the session active.')">
                <button class="card__dropdown-button" type="submit">Re-pair</button>
              </form>
            <% } if (currentUser.accessLevel >= 2 && tuteeSession.status == "Inactive") { %>
              <form action="/tutors/<%- tutor._id %>/delete-session/<%- tuteeSession.tuteeID._id %>?_method=delete" method="post"
                onsubmit="return confirm('Are you sure you want to delete this tutoring session?
                This should only be done if the tutee must be paired in this subject again.')">
                <button class="card__dropdown-button" type="submit">Delete</button>
              </form>
            <% } %>
          </div>
        </div>
        <span class="card__footnote">
          Status - <%- tuteeSession.status %>
          <% if (tuteeSession.status == "Pending") { %>(Notified <%- tuteeSession.lastNotified %>)<% } %>
        </span>
        <span class="card__footnote">Courses - <%- ejs.arrayToSentence(tuteeSession.courses.map(c => ejs.reformatCourse(c))) %></span>
        <div class="card__modal">
          <div class="card__modal-content">
            <span class="card__modal-close no-select material-icons">close</span>
            <div class="form__item">
              <label class="form__label" for="name">Student's Name</label>
              <input class="form__input" value="<%- tuteeSession.tuteeID.name %>" readonly/>
            </div>
            <div class="form__item">
              <label class="form__label" for="phoneNum">Student's Phone Number</label>
              <input class="form__input" value="<%- tuteeSession.tuteeID.phoneNum %>" readonly/>
            </div>
            <div class="form__item">
              <label class="form__label" for="parentName">Parent's Name</label>
              <input class="form__input" value="<%- tuteeSession.tuteeID.parentName %>" readonly/>
            </div>
            <div class="form__item">
              <label class="form__label" for="parentPhoneNum">Parent's Phone Number</label>
              <input class="form__input" value="<%- tuteeSession.tuteeID.parentPhoneNum %>" readonly/>
            </div>
            <div class="form__item">
              <label class="form__label" for="paymentForm">Their Form of Payment</label>
              <input class="form__input" value="<%- tuteeSession.tuteeID.paymentForm %>" readonly/>
            </div>
          </div>
        </div>
      </div>
      <% });
    } %>
  </div>
  <div class="form__item">
    <label class="form__label" for="courses">Courses to Tutor</label>
    <ul class="form__input form__list">
      <% tutor.courses.forEach(function(courseID) { %>
        <li><%- ejs.reformatCourse(courseID); %></li>
      <% }); %>
    </ul>
  </div>
  <div class="form__item">
    <label class="form__label" for="verified">Verification Status</label>
    <input class="form__input" value="<% if (tutor.verified && tutor.verifiedPhone) { %>Verified<% } else { %>Unverified<% } %>" readonly/>
    <span class="form__input-footnote">
      CSF Verified: <% if (tutor.verified) { %>True<% } else { %>False<% } %>,&nbsp;&nbsp;&nbsp;
      Phone Verified: <% if (tutor.verifiedPhone) { %>True
      <% } else { %>False - <a class="link--gray" href="/tutors/<%- tutor._id %>/resend-verification">Resend verification</a><% } %>
    </span>
  </div>
  <% if (currentUser.accessLevel >= 2) { %>
    <div class="form__item">
      <label class="form__label" for="warnings">Warnings</label>
      <input class="form__input" value="<%- tutor.warnings %>" readonly/>
    </div>
  <% } %>
  <div class="form__item form__item--row">
    <a class="form__button no-drag" href="/tutors/<%- tutor._id %>/edit<% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Edit</a>
    <% if (currentUser.accessLevel >= 2) {
      if (tutor.verified) { %>
        <form action="/tutors/<%- tutor._id %>/unverify?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>"
          method="post" onsubmit="return confirm('Are you sure you want to unverify this tutor?')">
          <input class="form__button" type="submit" value="Unverify"/>
        </form>
      <% } else if (!tutor.verified) { %>
        <form action="/tutors/<%- tutor._id %>/verify?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>"
          method="post" onsubmit="return confirm('Are you sure you want to verify this tutor?')">
          <input class="form__button" type="submit" value="Verify"/>
        </form>
      <% } %>
      <form action="/tutors/<%- tutor._id %>/warn?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>"
        method="post" onsubmit="return confirm('Are you sure you want to add a warning to this tutor?')">
        <input class="form__button form__button--orange" type="submit" value="Warn"/>
      </form>
      <% if (tutor.active) { %>
        <form action="/tutors/<%- tutor._id %>/deactivate?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>"
          method="post" onsubmit="return confirm('Are you sure you want to deactivate this tutor\'s account? They will not be paired until reactivation.')">
          <button class="form__button form__button--red" type="submit">Deactivate</button>
        </form>
      <% } else if (!tutor.active) { %>
        <form action="/tutors/<%- tutor._id %>/reactivate?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>"
          method="post" onsubmit="return confirm('Are you sure you want to reactivate this tutor\'s account?')">
          <button class="form__button form__button--green" type="submit">Reactivate</button>
        </form>
      <% } %>
    <% } %>
  </div>
</div>

<%- include("../partials/footer") %>
