<%- include("../partials/header") %>

<div class="form">
  <% if (query.from) { %><a class="form__link" href="<%- query.from %>">Back</a><% } %>
  <div class="form__title">View Tutoring Request</div>
  <% if (currentUser.accessLevel <= 1) { %>
    <p class="form__description">If you wish to delete your tutoring request, contact the tutoring coordinator.</p>
  <% } %>
  <div class="form__item">
    <label class="form__label" for="id">Student ID</label>
    <input class="form__input" value="<%- tutee.id %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="name">Name</label>
    <input class="form__input" value="<%- tutee.name %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="gender">Gender</label>
    <input class="form__input" value="<%- tutee.gender %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="grade">Grade</label>
    <input class="form__input" value="<%- tutee.grade %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="email">Email</label>
    <input class="form__input" value="<%- tutee.email %>" readonly/>
    <span class="form__input-footnote">Only used to contact you as a last resort</span>
  </div>
  <div class="form__item">
    <label class="form__label" for="phoneNum">Phone Number</label>
    <input class="form__input" value="<%- tutee.phoneNum %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="parentName">Parent's Name</label>
    <input class="form__input" value="<%- tutee.parentName %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="parentEmail">Parent's Email</label>
    <input class="form__input" value="<%- tutee.parentEmail %>" readonly/>
    <span class="form__input-footnote">Only used to contact you as a last resort</span>
  </div>
  <div class="form__item">
    <label class="form__label" for="parentPhoneNum">Parent's Phone Number</label>
    <input class="form__input" value="<%- tutee.parentPhoneNum %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="paymentForm">Form of Payment</label>
    <input class="form__input" value="<%- tutee.paymentForm %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="courses">Requested Courses</label>
    <input class="form__input" value="<%- ejs.reformatCourse(tutee.courses[0]) %><% for (var i=1; i<tutee.courses.length; i++) { %><%- ", " + ejs.reformatCourse(tutee.courses[i]) %><% } %>" readonly/>
  </div>
  <div class="form__item">
    <label class="form__label" for="tutorSessions">Current Tutors</label>
    <% if (currentUser.accessLevel < 2) tutee.tutorSessions = tutee.tutorSessions.filter(tutorSession => tutorSession.status != "Unnotified");
    if (tutee.tutorSessions.length == 0) { %>
      <input class="form__input" type="text" value="Not yet paired with tutors" readonly/>
    <% } else {
      tutee.tutorSessions.forEach(function(tutorSession) { %>
      <div class="card">
        <div class="card__title">
          <span class="card__icon material-icons">account_circle</span>
          <% if (currentUser.accessLevel >= 2) { %>
            <a class="link--black" href="/tutors/<%- tutorSession.tutorID._id %>?from=%2Ftutees%2F<%- tutee._id %>">Tutor <%- tutorSession.tutorID.name %></a>
          <% } else { %>
            Tutor <%- tutorSession.tutorID.name %>
          <% } if (currentUser.accessLevel >= 2) { %>
            <span class="card__icon card__icon--link card__icon--right no-select material-icons">more_horiz</span>
            <div class="card__dropdown">
              <a class="card__dropdown-link" href="/tutors/<%- tutorSession.tutorID._id %>/notify/<%- tutee._id %>">Notify Tutor</a>
              <a class="card__dropdown-link" href="/tutees/<%- tutee._id %>/unpair/<%- tutorSession.course %>">Unpair</a>
            </div>
          <% } %>
        </div>
        <span class="card__footnote">Status - <%- tutorSession.status %></span>
        <span class="card__footnote">
          Courses - <%- ejs.reformatCourse(tutorSession.courses[0]) %><% for (var i=1; i<tutorSession.courses.length; i++) { %><%- ", " + ejs.reformatCourse(tutorSession.courses[i]) %><% } %>
        </span>
      </div>
      <% });
    } %>
  </div>
  <div class="form__item">
    <label class="form__label" for="createdOn">Date Created</label>
    <input class="form__input" value="<%- ejs.reformatDate(tutee.createdOn) + " at " + tutee.createdOn.split(" ")[1] + " " + tutee.createdOn.split(" ")[2] %>" readonly/>
  </div>
  <div class="form__item form__item--row">
    <a class="form__button" href="/tutees/<%- tutee._id %>/edit<% if (query.from) { %>?from=<%- query.from.replace(/\//g, "%2F") %><% } %>">Edit</a>
    <% if (currentUser.accessLevel >= 2) { %>
      <form action="/tutees/<%- tutee._id %>/pair?_method=put<% if (query.from) { %>&from=<%- query.from %><% } %>" method="post"
        onsubmit="return confirm('Are you sure you want to attempt to pair this tutee with tutor(s)? The tutors will not be notified until you manually accept the pairings.')">
        <input class="form__button" type="submit" value="Pair"/>
      </form>
      <form action="/tutees/<%- tutee._id %>?_method=delete<% if (query.from) { %>&from=<%- query.from %><% } %>" method="post" onsubmit="return confirm('Are you sure you want to delete this tutee?')">
        <button class="form__button form__button--red" type="submit">Delete</button>
      </form>
    <% } %>
  </div>
</div>

<%- include("../partials/footer") %>
